/* Codecademy Capstone Project 2018

PALETTE
very dark     #262626
dark          #4b4b4b
intermediate1 #d3d3d3
intermediate2 #dbdbdb
light         #a6a6a6
off-white     #f4f4f4

text hi-li    #ababab
light text    #585858

blue accent   #0093ce
blue hi-li    #59cbf9
*/


/* Core elements */

body {
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", sans-serif; /* Yes, it's not the exact font, but it's trendy */
}

h1, h2, h3, h4, h5, h6, a, span, p {
  line-height: normal;
}

a {
  /* These changes are mainly because links can get ugly */
  text-decoration: none;
  color: inherit;
}



/* Header & Nav */
header {
  /* I made this into a fixed header because of the Sign In function. */
  /* Were this a real website, it'd be very convenient for users to avoid scrolling */
  width: 100%;
  background-color: #f4f4f4;
  height: 64px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 24px;
  font-family: "Roboto", "Helvetica", sans-serif;
}

header .embiggen {
  font-weight: bold;
  color: #262626;
}

header .light {
  font-weight: normal;
  color: #a6a6a6;
}

header nav {
  display: flex;
  padding-right: 24px;
}

header nav a {
  margin-left: 16px;
  font-size: 18px;
  color: #262626;
}

header nav a:hover {
  color: #ababab;
}

header nav.mobile-menu {
  display: none;
}



/* Banner */
.mainbanner {
  padding-top: 64px;
  display: flex;
  background-color: #d3d3d3;
  align-items: center;
}

.mainbanner img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.mainbanner .text {
  margin: 0 24px;
  width: 30%;
}

.mainbanner h1,
.mainbanner h3 {
  font-weight: bold;
  color: #4b4b4b;
  padding-bottom: 24px;
}

.mainbanner h1 {
  font-size: 3rem;
}

.mainbanner h3 {
  font-size: 1.6rem;
}

.mainbanner a.btn {
  display: block;
  background-color: #4b4b4b;
  color: #f4f4f4;
  padding: 8px 0;
  text-align: center;
  font-size: 1.5rem;
}

.mainbanner a:hover {
  background-color: #ababab;
}

.mainbanner a:active {
  background-color: #1e1e1e;
}



/* News */
.news-grid {
  display: flex;
  background-color: #f4f4f4;
  margin: 2px 0; /* This way the border won't touch the divs above and below. A E S T H E T I C */
}

.news-grid h1,
.news-grid h3,
.news-grid span,
.news-grid p {
  color: #585858;
}

.story a {
  color: #0093ce;

}

.story a:hover {
  color: #59cbf9;
}

.news-feature {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  width: 60%;
}

.news-feature img {
  width: 100%;
  height: auto;
}

.news-feature h1 {
  padding: 32px 0 24px 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.news-feature p {
  padding-bottom: 32px;
  font-size: 1.1rem;
}

.news-feature span {
  font-size: 0.9rem;
}

.news-column {
  width: 40%;
  min-width: 426px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px #dbdbdb solid;
}

.story {
  padding: 16px;
  margin: 1px 0; /* To put a space between borders */
  display: flex;
  min-height: 100px;
}

.story:hover {
  background-color: #dbdbdb;
}

.story.info {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.image-container {
  width: 35%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.story h3,
.story span,
.story a {
  padding: 8px 0;
}

.story h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.story.top {
  border-bottom: 1px #dbdbdb solid;
}

.story.center {
  border-top: 1px #dbdbdb solid;
  border-bottom: 1px #dbdbdb solid;
}

.story.bottom {
  border-top: 1px #dbdbdb solid;
}



/* Courses */
.course-bg {
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.course-bg h1,
.course-bg h3,
.course-bg span {
  color: #262626;
}

.course-bg h1 {
  padding: 32px 0;
  font-weight: bold;
  font-size: 2.2rem;
}

.course-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 72px;
}

.course {
  width: 30%;
  background-color: #f4f4f4;
  margin-bottom: 32px;
}

.course:hover img {
  opacity: 0.7; /* User feedback is important */
}

.course img {
  height: auto;
  width: 100%;
}

.course.info {
  padding: 16px;
  width: auto;
  margin-bottom: 0;
}

.course.info h3 {
  font-size: 1.5rem;
  padding-bottom: 16px;
}

.course.info p {
  padding-top: 16px;
}



/* Exhibits */
.exhibit-bg {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.exhibit-container {
  display: flex;
}

.exhibit-bg h1,
.exhibit-bg h3 {
  color: #262626;
}

.exhibit-bg p {
  color: #585858;
}

.exhibit-bg h1 {
  padding: 32px 0;
  font-weight: bold;
  font-size: 2.2rem;
}

.exhibit-feature {
  display: flex;
  flex-direction: column;
  padding: 0 24px 32px 24px;
  width: 60%;
}

.exhibit-feature video {
  width: 100%;
  height: auto;
}

.exhibit-feature h1 {
  padding: 32px 0 24px 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.exhibit-feature p {
  font-size: 1.1rem;
}

.exhibit-column {
  width: 40%;
  min-width: 426px;
  display: flex;
  flex-direction: column;
}

.exhibit {
  display: flex;
  padding: 16px;
  min-height: 100px;
}

.exhibit:hover {
  background-color: #dbdbdb;
}

.exhibit-info {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  padding: 16px;
}

.exhibit h3,
.exhibit p {
  padding: 8px 0;
}

.exhibit h3 {
  font-size: 1.5rem;
  font-weight: bold;
}



/* Footer */
footer {
  background-color: #f4f4f4;
  margin: 0 3px; /* Aesthetically pleasing border does not touch sides */
  height: 72px; /* Just enough space for those with auto-hidden toolbars if it's been raised to still see the bottom */
  border-top: 1px #dbdbdb solid;
  font-size: 0.8rem;
}

footer .formatting-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 21px 0 21px;
}

footer nav a {
  margin-left: 16px;
}

footer nav a:hover {
  color: #ababab;
}
